.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33,33,33,0.4) solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  padding: 0;
  margin-right: auto;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: #212121;
  border: none;
  margin-top: auto;
  gap: 8px;
  cursor: pointer;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.8;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  border: none;
  color: #212121;
  opacity: 70%;
}

@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    max-width: 413px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .profile__description {
    margin: 0 0 32px;
    align-self: center;
    max-width: 288px;
  }

  .profile__add-button {
    padding: 0px;
    width: 288px;
    margin: 0 auto;
    text-align: center;
  }

  .profile__edit-button {
    margin: 0;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }
}
